.title {
  padding-top: 50px;
}

h1 {
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.options {
  width: 100%;
  margin: 45px 0 35px 0;
  display: flex;
  align-items: center;
}

#filter-button {
  background-color: transparent;
  border: transparent;
  margin-left: 80px;
}

.search-bar {
  transform: translateX(35%);
}

.search-bar input {
  background-color: #edcc8b;
  opacity: 0.6;
  color: black;
  border: 0px;
  border-radius: 15px;
  height: 40px;
  padding: 10px 0 10px 40px;
  width: 300px;
  font-size: 16px;
}

#search-button {
  position: absolute;
  padding: 10px 10px;
  border-color: transparent;
  background-color: transparent;
  z-index: 2;
}

.task,
.input-task {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 120px;
  margin: 20px 0 0 0;
  background-color: #edcc8b;
  border-radius: 10px;
  position: relative;
}

.task {
  order: 1;
}

.task-title,
.description-input,
.date {
  width: 80%;
  margin: 15px 0 0 40px;
  background-color: transparent;
  font-size: 16px;
  border: none;
  color: black;
}

.description-input {
  overflow-y: auto;
  height: 45%;
  margin: 0;
  padding: 5px 0 0 40px;
}

.description-input::-webkit-scrollbar,
.task-title::-webkit-scrollbar {
  display: none;
}

input:focus,
[contenteditable] {
  outline: 0px solid transparent;
}

#add-to-do,
.delete-button {
  background-color: #fff4de;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: transparent;
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete-button {
  font-size: 22px;
  background-color: transparent;
}

.push-pin {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: transparent;
}

.date-input-container {
  padding: 32px 40px 10px 40px;
  color: grey;
  font-size: small;
}

.date-input-container input {
  margin: 0;
  color: grey;
  font-size: small;
  width: 100px;
}

.tasks-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-date {
  position: absolute;
  bottom: 7px;
  left: 40px;
  font-size: 12px;
}
